
@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=IBM+Plex+Mono:wght@100;200;300;400;500;600;700&family=Inconsolata:wght@200;300;400;500;600&display=swap');

*{
  margin: 0;
  padding: 0
}

body{
  font-family: IBM Plex Mono, monospace;
}

navbar{
  display: flex;
  justify-content:space-between;
  align-items: center;
  padding-left: 5vw;
  padding-right: 5vw;
  height: 8vh;
}

navbar img {
  width: 12vw;
}

navbar a{
  margin-right: 5vw;
}

.mainApp{
  background-color: #353535;
  height: 100vh
}



.box-recomendar{

  display: flex;
  background-color: #353535;
  height:70vh;
  width: 50vw;
  margin-left: auto;
  margin-right: auto;
 

}

.box-showSongs{
  width: 50%;
  height: 100%;
  overflow: scroll;
  background: #e8e8e8;

  max-height: 100vh
}

.box-form-recommendation{
  width: 50%;
  border-width:  1px;
  border-style: solid;
  border-color: #ffe600;
  border-right: #e8e8e8
}

.songs{
  display:flex;
  align-items: center;
}

.songInfo{
  margin-left: 1vw;
}

.songInfo h1{
  font-size: 1em
}

.songInfo h2{
  font-size: 1em;
  font-weight: normal;
}

.boxsongs{
 margin-left: 3vw;
 margin-bottom: 5vh;
}


.boxsongs button{
  background: #60606000;

color: #2e2e2e;

border-style: solid;

border-color: #2e2e2e;

padding: 1vh;

font-family: IBM Plex Mono, monospace;


text-shadow:none;
}


.box-button {
  margin-top: 1vh;
}


